/* 全体 */
html{
	font-family:"メイリオ","游ゴシック","Yu Gothic",“游ゴシック体”, YuGothic,sans-serif;
	color:#333;
	font-size:15px;
	line-height:1.6;	/*1.6emだと「15*1.6=24px」、1.6だと「その場所のフォントの1.6倍」として継承される*/
	margin:0 auto;
}
html{
	min-width:960px;
}

/* ヘッダー */
header{
	display: table;
	width:100%;
	line-height: 1.6rem;
	height: 1.6rem;
	position:sticky;
	top: 0;
	background:#C6FFC6;
}
header>*{
	display: table-cell;
	width:25%;
	text-align: center;
}
header>.breadcrumb{
	width:50%;
}
.go_before_page>a::before{
	content: "<";
}
.go_after_page>a::after{
	content: ">";
}

/* パンくずリスト */
.breadcrumb{
	max-width: 800px;
	min-width: 600px;
}
.breadcrumb li{
	display: inline;
	list-style: none;
	margin:0 0.1rem;
}
.breadcrumb li *{
	display: inline;
}
.breadcrumb li::after{
	content:">";
}
.breadcrumb li:last-child::after{
	content:"";
}


/* メイン */
.container{
	display:flex;
}
main{
	padding:5px;
}

/* 見出し */
section{
	margin-bottom:18px;
}
section>*:not(a):not(section):not(h2):not(h3):not(h4):not(h5):not(h6){
	margin-left:20px;
	margin-right:10px;
}
h1{
	margin:1rem;
	font-size: 2rem;
}
h2{
	margin:10px 0px;
	border-left:5px solid #8E8;
	border-bottom:3px dotted #8E8;
	padding-left:15px;
	font-size:20px;
}
h3{
	margin:0.75rem 0.5rem 0.5rem 1rem;
	border-bottom:2px dashed #999;
	padding-left:0.5rem;
	font-size:18px;
}

.midashi4{
	margin:5px;
	border-bottom:1px dotted #CCC;
	padding-left:5px;
	font-size:16px;
}
.midashi4 *{
	display:inline-block;
	margin-right:10px;
}
h5{
	margin:5px 0;
	border-bottom:1px dotted #CCC;
}


/* テキスト装飾 */

	/* 画像呼び出しのほか、クリックすると表示する仕掛けに使用 */
	span[onclick]{
		color:#0000FF;
		text-decoration: underline;
	}
	/* クリックすると表示する仕掛けに使用 */
	p[id~="a"]{
		display:none;
	}
	/* 打消し線 */
	.himitsu{
		text-decoration: line-through;
	}
	/* 小さい文字 */
	.small_text{
		font-size: 0.6em;
	}
	strong{
		font-weight: 900;
	}

	/* 段落の行間 */
	section>*{
		/* text-indent: 1em; */
		margin-top:0.8rem;
	}

	/* リスト関連 */
	ul{
		list-style-type: circle;
	}
	.ul_headline{
		list-style: none;
	}
	ul>li,dl>dt{
		margin-left:1em;
	}
	ol>li,dl>dd{
		margin-left: 2em;
	}
	.index_li{
		margin-bottom: 0.5em;
	}

	/* ギャラリーページ用 */
	.gallery_ul_photo h3{
		margin-left: -20px;
	}
	.gallery_ul_photo li{
		margin-left: 1em;
	}
	.gallery_ul_photo li *{
		margin-left: 1em;
	}
	.gallery_ul_photo li span{
		color:#000;
		background-color: rgba(64, 255, 64, 0.3);
		margin: 0 0.25em;
		padding: 0 0.5em;
		text-decoration: underline;
	}
	.gallery_ul_photo li span:first-child{
		margin-left:0;
	}
