/*強調*/
del.y2016,del.y2016 *{
	color:#FF0000;
	text-decoration:line-through;
}
ins.y2016,ins.y2016 *{
	color:#0000FF;
	text-decoration:underline overline;
}
strong.y2016,strong.y2016 *{
	color:#DD00FF;
	font-weight:100;
	text-decoration:underline;
}
