/*強調*/
del.y2018,del.y2018 *{
	color:#FF0000;
	text-decoration:line-through;
}
ins.y2018,ins.y2018 *{
	color:#0000FF;
	text-decoration:underline;
}
strong.y2018,strong.y2018 *{
	color:#DD00FF;
	font-weight:100;
	text-decoration:underline;
}
