*{
	margin:0 auto;
	padding:0;
	font-family:"メイリオ","游ゴシック",sans-serif;
	font-size:15px;
	line-height:1.6em;
}
@media screen and (min-width: 980px) {
 figure{
	width:calc((960px + (100% - 960px)* 0.7)* 0.45);	/*calc*/
	right:calc((100% - 960px)* 0.15);				/*calc*/
 }
 main{
	width:calc((960px + (100% - 960px)* 0.7)* 0.55);	/*calc*/
	margin-left:calc((100% - 960px)* 0.15);			/*calc*/
 }
}
@media screen and (max-width: 979px) {
 figure{
	width:45%;
	right:0;
 }
 main{
	width:55%;
	margin-left:0px;
 }
}

header{
	position:fixed;
	width:100%;
	margin:0;
	padding:0 0 0 60px;
	color:#333;
	background:#CCFFCC;
	background:linear-gradient(to right, #CCFFCC, #EEFFEE);
	font-size:0;
}
h1{
	display:inline;
	vertical-align:middle;
	margin-right:50px;
	font-size:28px;
	line-height:60px;
	font-weight:900;
}
.top,.reverse{
	margin:0 20px;
	vertical-align:middle;
	font-size:1rem;
}

/*図表*/
figure{
	position:fixed;
	max-height:calc(100% - 60px);/*h1*/
	padding:10px;
	border:5px solid #0F0;
	top:60px;
	vertical-align:top;
	text-align:center;
}
img{
	max-width:100%;
	max-height:calc(100vh - 60px - 30px - 80px);
	margin-top:10px;
	border:1px solid #999;
	vertical-align:top;
}
figcaption{
	text-align:center;
}

#fig_title,#fig_ui{
	height:35px;
	font-size:16px;
	line-height:35px;
	border:1px solid #999;
}
#fig_title{
	border-bottom:none;
}
#fig_ui_sm{
	display:none;
}
.fig_ui_button{
	display:inline-block;
	width:calc(100%/3);
	vertical-align:top;
	height:33px;
	border:none;
	border-left:1px solid #999;
	padding:0;
}
.fig_ui_button:first-child{
	border-left:none;
}
/*ボタン無効化*/
.fig_ui_button{
	font-size:inherit;
	/*border:none;*/
	/*background-color:inherit;*/
}
/*
.fig_ui_button:first-child:active{
	padding:0px;
}
*/
/*図表ここまで*/

main{
	margin-top:60px;
	padding:5px;
	display:inline-block;
}
section{
	margin-bottom:18px;
}

section>*:not(a):not(section):not(h2):not(h3):not(h4):not(h5):not(h6):not(.midashi4){
	margin-left:20px;
	margin-right:10px;
}
h2{
	margin:10px 0px;
	border-left:5px solid #8E8;
	border-bottom:3px dotted #8E8;
	padding-left:15px;
	font-size:20px;
}
h3{
	margin:5px 5px 10px;
	border-bottom:2px dashed #999;
	padding-left:5px;
	font-size:18px;
}

.midashi4{
	margin:5px;
	border-bottom:1px dotted #CCC;
	padding-left:5px;
	font-size:16px;
}
.midashi4 *{
	display:inline-block;
	margin-right:10px;
}
h5{
	margin:5px 0;
	border-bottom:1px dotted #CCC;
}

/*テキスト装飾*/
span[onclick]{
	color:#0000FF;
	text-decoration: underline;
}
span.fig_on{
	color:#F00;
}
.himitsu{
	text-decoration: line-through;
}
p[id~="a"]{
	display:none;
}